footer{
    position: relative;
    color: #fff;
    font-size: calc(10px + (18 - 9) * ((100vw - 375px) / (1365 - 375)));
}

footer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
