.section-aside{
    box-sizing: border-box;
}

.section-aside > a{
    text-decoration: none;
}

.section-aside > a > div{
    height: 18.25vh;
    text-align: left;
    /* padding-top: 2.2vh; */
}

.section-aside > a > div:hover{
    background-color: rgb(88, 146, 223);
}

.section-aside > div > h2{
    color: rgb(3, 49, 95);
    font-size: calc(5px + (17 - 9) * ((100vw - 375px) / (1365 - 375)));
    font-weight: bold;
    position: relative;
    /* padding-top: 2.2vh; */
}

.section-aside > a > div > h3 > span{
    color: rgb(2, 51, 100);
    font-size: calc(3px + (15 - 3) * ((100vw - 375px) / (1365 - 375)));
    /* padding-top: 10vh;
    padding-left: 0;
    padding-right: 1vw;
    padding-bottom: 1vh; */
    position: relative;
    top: 16vh;
}

.section-aside > a > div > p{
    color: black;
    font-size: calc(10px + (12 - 9) * ((100vw - 375px) / (1365 - 375)));
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vh;
}

.car{
    background-image: url(../img/car1.jpeg);
    background-position: center;
    background-size: cover;
}

.car:hover{
    filter: brightness(50%)
}

.camera{
    background-image: url(../img/camera.png);
    background-position: center;
    background-size: cover;
}

.camera:hover{
    filter: brightness(50%);
}

.saude{
    background-image: url(../img/saude.png);
    background-position: center;
    background-size: cover;
}

.cursos{
    background-image: url(../img/cursos.png);
    background-position: center;
    background-size: cover;
}

.background-span{
    background-color: #458DD6;
    padding: 5px;
    border-radius: 0 5px 5px 0;
}

.none h2{
    font-size: calc(15px + (12 - 9) * ((100vw - 375px) / (1365 - 375)));
    padding-top: 1.7vh;
}

.span-h2{
    background-color: #458DD6;
    padding: 5px;
    border-radius: 5px;
}







